altgraph==0.17.2
cx-Freeze==6.11.1
cx-Logging==3.0
et-xmlfile==1.1.0
future==0.18.2
importlib-metadata==4.12.0
lief==0.12.1
numpy==1.23.1
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
pefile==2022.5.30
pip==21.2.3
pyinstaller==5.2
pyinstaller-hooks-contrib==2022.8
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
pywin32-ctypes==0.2.0
setuptools==60.10.0
six==1.16.0
zipp==3.8.1
